<!DOCTYPE html>
	<html>
		<head>
		  {% include head.html %}
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:shirin.glander@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ShirinG">github.com/ShirinG</a></li>
	        		<li><a href="http://shiring.github.io/blog/atom.xml">Blog RSS feed</a></li>
				</ul>
				{% include foot.html %}
			</footer>
		</body>
	</html>
