<!DOCTYPE html>
	<html>
		<head>
		  {% include head.html %}
	    <meta name="author" content="Shirin Glander" /> <!-- Hier sollte der Name des Autors, der Inhalte erstellt, rein. -->

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>

		  <a class="skip" href="#main">Navigation überspringen</a> <!-- Für Blinde die nicht bei jedem Aufruf die gleichen Infos hören wollen, sondern gleich zum Inhalt der Seite weitergehen wollen. -->

  <header>
   <a id="logo" href="./">Shirin's Page</a> <!-- Hier kommt noch einmal der Name deiner Homepage rein. -->
  </header>

			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>

			<main role="main">

			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:shirin.glander@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ShirinG">github.com/ShirinG</a></li>
	        		<li><a href="http://shiring.github.io/blog/atom.xml">Blog RSS feed</a></li>
				</ul>
				{% include foot.html %}
			</footer>
		</body>
	</html>
